h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

body {
	text-align: center;
}

nav {
	background-color: #808080;
}

nav a {
	background-color: #ffbf00;
	padding: 35px;
	color: white;
	display: block;
	float: left;
}

nav a:hover {
	background-color: #ee5f3c;
}

footer {
	background-color: #808080;
}

img {
	width: 150px;
}

.board {
	height: 50%;
	width: 50%;
	text-align: center;
	margin: auto;
}

.card {
	height: 200px;
	width: 150px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	background-color: yellow;
	margin: 8%;
	display: inline-block;
}

.myname {
	color: #ff0000;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}